@media screen and (max-width: 425px) {
    body{
        background-color: crimson;
    }

    .container{
        box-shadow: none;
        width: 100%;
    }

    footer{
        font-size: 0.5em;
        margin-top: 3em;
    }
}